In [1]:
import pandas as pd
import sklearn 
from sklearn.datasets import fetch_california_housing

df = fetch_california_housing(as_frame=True)
df.data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [2]:
df.data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [3]:
df.data.isna().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [6]:
df.data.loc[(df.data.HouseAge > 50) & (df.data.Population > 2500)]

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
460,1.4012,52.0,3.105714,1.060000,3337.0,9.534286,37.87,-122.26
4131,3.5349,52.0,4.646119,1.047945,2589.0,5.910959,34.13,-118.20
4440,2.6806,52.0,4.806283,1.057592,3062.0,4.007853,34.08,-118.21
5986,1.8750,52.0,4.500000,1.206349,2688.0,21.333333,34.10,-117.71
7369,3.1901,52.0,4.730942,1.017937,3731.0,4.182735,33.97,-118.21
8227,2.3305,52.0,3.488860,1.170380,3018.0,3.955439,33.78,-118.20
13034,6.1359,52.0,8.275862,1.517241,6675.0,230.172414,38.69,-121.15
15634,1.8295,52.0,2.628169,1.053521,2957.0,4.164789,37.80,-122.41
15652,0.9000,52.0,2.237474,1.053535,3260.0,2.237474,37.80,-122.41
15657,2.5166,52.0,2.839075,1.184049,3436.0,1.621520,37.79,-122.41
15659,1.7240,52.0,2.278566,1.082348,4518.0,1.780142,37.79,-122.41
15795,2.5755,52.0,3.402576,1.058776,2619.0,2.108696,37.77,-122.42
15868,2.8135,52.0,4.584329,1.041169,2987.0,3.966799,37.76,-122.41

In [7]:
df.data.MedInc.max()

15.0001

In [8]:
df.data.MedInc.min()

0.4999

In [10]:
df.data.apply(lambda x: x.mean())

MedInc           3.870671
HouseAge        28.639486
AveRooms         5.429000
AveBedrms        1.096675
Population    1425.476744
AveOccup         3.070655
Latitude        35.631861
Longitude     -119.569704
dtype: float64

In [12]:
df = pd.DataFrame(data.data)

mean_values = df.apply(lambda column: (column.name, column.mean()), axis=0)

for name, mean in mean_values.iteritems():
    print(f"Признак: {name}, Среднее значение: {mean}")

Признак: MedInc, Среднее значение: 0      MedInc
1    3.870671
Name: MedInc, dtype: object
Признак: HouseAge, Среднее значение: 0     HouseAge
1    28.639486
Name: HouseAge, dtype: object
Признак: AveRooms, Среднее значение: 0    AveRooms
1       5.429
Name: AveRooms, dtype: object
Признак: AveBedrms, Среднее значение: 0    AveBedrms
1     1.096675
Name: AveBedrms, dtype: object
Признак: Population, Среднее значение: 0     Population
1    1425.476744
Name: Population, dtype: object
Признак: AveOccup, Среднее значение: 0    AveOccup
1    3.070655
Name: AveOccup, dtype: object
Признак: Latitude, Среднее значение: 0     Latitude
1    35.631861
Name: Latitude, dtype: object
Признак: Longitude, Среднее значение: 0     Longitude
1   -119.569704
Name: Longitude, dtype: object

C:\Users\Hung\AppData\Local\Temp\ipykernel_7344\3193670270.py:5: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for name, mean in mean_values.iteritems():