In [44]:
import pandas as pd
data = pd.read_csv('C:/Users/hoang/Desktop/Big-Data_Mirea2023/Пр4/Stock Market Dataset.csv')
data

           Open       High        Low      Close  Adj Close     Volume
0     45.099998  50.090000  44.000000  44.900002  44.900002  117701670
1     45.930000  46.939999  40.685001  41.650002  41.650002   27925307
2     40.500000  43.000000  39.400002  42.900002  42.900002   16113941
3     43.660000  43.779999  41.830002  41.900002  41.900002    6316755
4     41.029999  42.869999  40.759998  42.599998  42.599998    8688325
...         ...        ...        ...        ...        ...        ...
2254  50.000000  50.750000  49.549999  49.889999  49.889999   51209029
2255  50.709999  51.860001  50.520000  51.520000  51.520000   22987553
2256  52.415001  53.180000  52.200001  52.779999  52.779999   35077848
2257  52.950001  53.500000  52.770000  53.349998  53.349998   28064973
2258  53.910000  54.000000  53.700001  53.700001  53.700001  136345128

[2259 rows x 6 columns]

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2259 entries, 0 to 2258
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2259 non-null   float64
 1   High       2259 non-null   float64
 2   Low        2259 non-null   float64
 3   Close      2259 non-null   float64
 4   Adj Close  2259 non-null   float64
 5   Volume     2259 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 106.0 KB

In [46]:
data.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [65]:
corr_matrix = data.corr().loc['Adj Close'].to_frame().round(2)
corr_matrix.style.background_gradient(cmap='coolwarm')

In [67]:
max_corr_column = corr_matrix['Adj Close'].idxmax()
max_corr_value = corr_matrix['Adj Close'].max()

print("Столбец с наибольшей корреляцией с параметром «Adj Close»:", max_corr_column)

Столбец с наибольшей корреляцией с параметром «Adj Close»: Open